@page "/"

<PageTitle>Cloudwell Go - Admin Center</PageTitle>

<h1>Admin Center</h1>

<div>
    <p>
        Welcome to the <b>Cloudwell Go Admin Portal</b>.
    </p>

    <div>
        <p>
            Cloudwell Go is Cloudwell’s internal vanity URL service, enabling you to create 
            short, memorable links for events, documentation, product pages, marketing campaigns, 
            and other internal or external resources.
        </p>

        <p>
            This admin portal allows you to create, update, and manage short links 
            under <b>go.cloudwell.io</b>, such as <code>go.cloudwell.io/Demo</code> or 
    <code>go.cloudwell.io/GetCalendarOverlay</code>.
        </p>
    </div>
</div>
